<%= form_with(model: @task, local: true) do |form| %>

<% if @task.errors.any? %>
<div id="error_explanation">
  <h2><%= @task.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div>
  <%= form.label :タスク名 %>
  <%= form.text_field :name %>
  <%= form.label :内容 %>
  <%= form.text_field :content %>
  <%= form.label :終了期限 %>
  <%= form.datetime_local_field :deadline %>
  <%= form.label :ステータス %>
  <%= form.select :status,{'未着手':1, '着手中':2, '完了':3}, { include_blank: '選択してください'},{required: true} %>
</div>
<%= form.submit %>

<%= link_to '投稿一覧', tasks_path %>
<% end %>
